<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614128591639-bs278j6r1jrbj676m2mad0pdicnl9h8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614128591639-bs278j6r1jrbj676m2mad0pdicnl9h8f</string>
	<key>API_KEY</key>
	<string>AIzaSyDAWnhjkJLXnIjoOZ0--svN-FtUlA-uRlI</string>
	<key>GCM_SENDER_ID</key>
	<string>614128591639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ezcode.GCinema</string>
	<key>PROJECT_ID</key>
	<string>gcinema-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>gcinema-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614128591639:ios:89bc85af4c1f4b728a8d52</string>
</dict>
</plist>